#finderLimit{
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
     .banner{
         width: 100%;
         box-sizing: border-box;
        img{
         width: 100%;
         height:4.5rem;
        }    
      }
      .jifen{
          width: 100%;
          height: 1rem;
          background: #fff;
          display: flex;
          justify-content: space-between;
          padding: .3rem 0;
          margin-bottom: .2rem;
          span:first-child{
              border-right: 1px solid #2C3E50;
          }
          span{
              width: 49.8%;
              display: block;
              text-align: center;
             
              
          }
      }
      .classify{
          width: 100%;
          background: #fff;
          margin-bottom: .2rem;
          ul{
             width: 100%;
             display: flex;
             justify-content: center;
             align-items: center;
             flex-wrap: wrap;
             li{
                 width: 2.5rem;
                
                 display: flex;
                 flex-direction: column;
//               justify-content: space-between;
                 align-items: center;
                 padding: 10px 5px;
                img{
                    width: 1rem;
                    margin-bottom: 10px; 
                    border-radius: 50%;
                }
                p{
                    font-size: .3rem;
                }
                 
             }
             
             
             
          }
      
        }
        .activity{
            width: 100%;
            height: 3rem;
            margin-bottom: .2rem;
//          background: red;
//          .left{
//               width: 50%;
//             
//              overflow: hidden;
//             
//          }
             img{display: block;
                   float: left;
                  width: 50%;
                  border: none;
                }
            
        }
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
